* {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5 "Microsoft Yahei", helvetica Neue, Helvetica, STHeiti, sans-serif;
}
a {
  text-decoration: none;
  outline: none;
}

