<div class="contents">
    <div class="top">
        修改密码
    </div>
    <div class="password">
        <form name="passwordForm">
        <div class="col-xs-2 description">
            输入旧密码 <span style="color: red" ng-hide="vm.oldPassword">*</span>
        </div>
        <div class="col-xs-10">
            <input type="password" class="form-control moduleInput" ng-model="vm.oldPassword" placeholder="请输入旧密码">
        </div>
        <div class="col-xs-2 description">
            设置新密码  <span style="color: red" ng-hide="vm.newPassword">*</span>
        </div>
        <div class="col-xs-10">
            <input type="password"
                   name="password"
                   class="form-control moduleInput"
                   ng-model="vm.newPassword"
                   ng-focus="blur=false"
                   ng-blur="blur=1"
                   ng-minlength="5"
                   ng-maxlength="11" placeholder="请输入新密码" required>
        </div>
        <div class="col-xs-2 description">
            确认新密码 <span style="color: red" ng-hide="vm.confirmPassword">*</span>
        </div>
        <div class="col-xs-10">
            <input type="password"
                   name="confirm"
                   class="form-control moduleInput"
                   ng-model="vm.confirmPassword"
                   ng-focus="blur=false"
                   ng-blur="blur=1"
                   ng-minlength="5"
                   ng-maxlength="11" placeholder="确认新密码" required>
        </div>
        </form>

        <button class="btn btn-success"
                ng-click="vm.sureChangPassword()"
                ng-disabled="!vm.oldPassword
                             || passwordForm.password.$invalid
                             || passwordForm.confirm.$invalid ">确认</button>
        <div class="errorMessage" ng-bind="vm.passwordDifferent"></div>
        <div class="errorMessage" ng-show="blur && vm.newPassword && vm.confirmPassword && (vm.newPassword != vm.confirmPassword)">两次密码不一致</div>
        <div class="errorMessage" ng-show="blur && phoneForm.phone.$invalid">手机号码格式不正确</div>
        <div class="errorMessage" ng-show="blur && (passwordForm.password.$error.minlength || passwordForm.confirm.$error.minlength)">密码最短为5字符</div>
        <div class="errorMessage" ng-show="blur && (passwordForm.password.$error.maxlength || passwordForm.confirm.$error.maxlength)">密码最长为11字符</div>
    </div>
</div>
