<body ng-controller="collection">


<header class="c-header">
    <div class="tech" ui-sref="colVideo">
        <span class="typeWord" >教学楼</span>
    </div>
    <div class="m-Line"></div>
    <div class="reed">

        <span class="typewording">阅览室</span>
    </div>

</header>
<div class="blank"></div>

<!--文章列表-->
<div class="list" ng-repeat="x in vm.articleData" ng-click="vm.reArticle($index)">
    <img class="avatar" ng-src="{{x.cover}}" />
    <div class="titalMeg">
        <div class="titalName"><b>{{x.title}}</b></div>
        <div class="a-author"><b>{{x.author}}</b></div>
        <div class="intro"><span>{{x.intro}}
            <div class="morebtn"></div></span>
        </div>


    </div>
    <div class="upvoteBox">
        <div class="upvote">
            <span ng-class="{'collect fa fa-thumbs-up':x.upvoteStatus == 1,
            'fa fa-thumbs-up':x.upvoteStatus == 2}"></span>
            {{x.upvote}}
        </div>
        <div class="upvote">
            <span ng-class="{'invote fa fa-heart':x.collectionStatus == 1,
            'fa fa-heart':x.collectionStatus == 2}"></span>
            {{x.collection}}

        </div>
        <span class="date">
                    2017-02-8
                          <span class="glyphicon glyphicon-menu-right"></span>
                </span>




    </div>
</div>




<div class="foot">
    <div class="noMore" ng-show="noMore">没有了，别点啦！
        <div class="triangle"></div>
    </div>
    <div class="clickMore" ng-click="vm.aMore()">{{vm.loadArticle}}</div>
</div>



</body>